<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <!--css 들어갈 부분-->
  </head>

  <body>
    <h1>Main</h1>
    <p>
      <%= nickname %>
      <a href="/logout">로그아웃</a>
      <% for (let i = 0; i < goal_list.length; i++) { %>
        <div class="goal_list">
          <b> <%= goal_list[i].goal_user %> : </b> <%= goal_list[i].goal_content %> <br />
        </div>
      <!-- &emsp;&emsp; -->
      <% } %>
    </p>
  </body>
</html>
