<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <!--css ๋ค์ด๊ฐ ๋ถ๋ถ-->
  </head>

  <body>
    <a href="/logout">๋ก๊ทธ์์</a>
    <div class="div_goal">
      <h2>๐ค๋ด๊ฐ ์์ฑํ 2023๋ ๋ชฉํ๐ค</h2>
      <% for (let i = my_goal.length - 1; i >= 0; i--) { %>
      <div class="goal_list">
        <b> <%= my_goal[i].goal_content %></b>
        <br />
      </div>
      <% } %>
      <br />
      <a href="/"> ๋ ์์ฑํ๋ฌ ๊ฐ๊ธฐ</a>
    </div>
  </body>
</html>
