<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <!--css 들어갈 부분-->
  </head>

  <body>
    <div class="signup_con">
      <form action="/signup" method="post">
        <p id="id_input">ID</p>
        <input type="text" name="id" id="id" placeholder="ID" required />
        <p id="pw_input">Password</p>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
        <br />
        <input
          type="password"
          name="password_check"
          id="passwordCheck"
          placeholder="Password Confirm"
          required
        />
        <br />
        <p id="name_input">Name</p>
        <input
          type="text"
          name="name"
          class="input-type"
          id="name"
          placeholder="Name"
          required
        />
        <br />
        <p id="nickname_input">Nickname</p>
        <input
          type="text"
          name="nickname"
          id="nickname"
          placeholder="Nickname"
          required
        />
        <br />
        <br />
        <p id="email_input">Email</p>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          required
        />
        <br />
        <br />
        <button type="submit" id="signupBtn">Sign up</button>
      </form>
      <a href="/">뒤로가기</a>
    </div>
  </body>
</html>
